#body {
	padding: 0;
	margin: 0;
}

#mapid {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#controls {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	z-index: 1000;
	background: white;
	border: 1px #cccccc solid;
	padding: 0.2em;
	width: 20em;
}

#controls .half {
	width: 49%;
	margin: 0;
}

.ui-front {
	z-index: 1100;
}

#controls .key {
	margin-top: 0.2em;
}

#controls .key > .line {
	display: inline-block;
	width: 5em;
	font-size: 50%;
	padding: 0.1em;
	margin: 0;
	border-left: 1px black dotted;
	border-bottom: 0.8em cyan solid;
}

#controls span.dfn {
	border-bottom: 1px black dotted;
	display: inline-block;
}

#controls span.clickable {
	color: #4444ff;
	font-size: 80%;
	text-decoration: underline;
	cursor: pointer;
}

#controls span.option-icon::before {
	content: "🔧";
}

#controls #frequency-drilldown {
	display: none;
	font-size: 80%;
}
